.cards {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.card {
  background: white;
  padding: 25px;
  flex: 1;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}