table {
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 14px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background: #f3f3f3;
}